.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeBox{
    display: flex;
    align-items: center;
}

big{
    font-size:3.5rem;
    font-weight: 2rem;
}

.welcome{
    width: 50rem;
    word-wrap: normal;
}

.itemList{
    width: 70%;
    padding: 0rem;
    overflow: scroll;
}