.page{
    height: 100%;
    align-items: center;
}
.itemPage{
    display: inline-flex;
}

.itemText{
    width: 40rem;
}

p{
    text-align: left;
}

#img{
    width: 20rem;
    padding-right: 2rem;
    margin-top: 1.7rem;
    border-radius: 1rem 0rem 0rem 1rem;
    object-fit: cover;
}