.itemCard{
    background: rgb(17, 17, 17);
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.01rem;
    border-color: rgb(127, 127, 127);
    padding: 1rem;
    margin: 1rem;
    display: inline-flex;
    width: 15rem;
    height: 10rem;
}

.discription{
    font-size:small;
}

p{
    text-align: left;
}

#imgItemCard{
    width: 10rem;
    background: white;
    margin-right: 2rem;
    border-radius: 1rem 0rem 0rem 1rem;
    object-fit: cover;
}