.cartItems{
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    margin: 0.3rem;
}

.toBeBold{
    font-weight:1000;
    font-size: larger;
}

.itemProfile{
    width: 100px;
    height: 100px;
}

.itemDetails p{
    padding: -1rem;
    margin: 0.2rem;
    color: white;
    font-size: medium;
    width: 150px;
}

.itemDetails{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.theRest{
    color: white;
    text-align: right;
    margin-left: 7rem;
    margin-top: 1.5rem;
}