.orderSummary{
}

.text{
    text-align: left;
    padding-left: 5rem;
}

td{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 18rem;
}

.checkOutButtonRegin{
    padding: 1rem;
}

.checkoutButton{
    margin: 1rem;
}