*{
    box-sizing: border-box;
}
thead{
    background-color: #131313;
}

.xl {
    border-radius: 1em 0em 0em 0em;
}

.yl {
    border-radius: 0em 1em 0em 0em;
}

tr{
    background-color:  #393939;
    border-radius: 2em;
}

td{
    padding: 0.5em;
}

.q{
    border-radius: 0em 0em 1em 0em;
}
.w{
    border-radius: 0em 0em 0em 1em;
}