thead{
    background-color: #131313;
}
th{
    padding: 1em;
}
.xl {
    border-radius: 1em 0em 0em 0em;
}
.yl {
    border-radius: 0em 1em 0em 0em;
}
tr{
    background-color:  #393939;
    border-radius: 2em;
}

td{
    padding: 0.5em;
}
